$font-stack: "Markarzi Text", "Karla";
$main-font: "Markarzi Text";
$secondary-font: "Karla";
$primary-colour: #495e57;
$secondary-colour: #f4ce14;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body {
  font-family: $secondary-font;
  // min-height: 100vh;
  // max-width: 80vw;
}

#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 20px;
  margin: 0 auto;
  // max-width: 100vw;
  width: 80%;
}

footer {
  background-color: #f4ce14;
}